.footer {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--black-grey);
    .footer__info {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 1rem;
            color: var(--white);
            padding: 0;
            margin: 0;
        }
    }
}